salesforce/force-app/main/default/flows/Create_Meaningful_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <description>Creates a Meaningful Event record to capture life events, preferences, concerns, and intents discovered during conversation.</description>
    <interviewLabel>Create Meaningful Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Meaningful Event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Resolve_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>

    <!-- ─── Assignments ─────────────────────────────────────── -->

    <assignments>
        <name>Set_Contact_From_Id</name>
        <label>Set Contact From Id</label>
        <locationX>50</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>resolvedContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>safeCustomerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Event_Record</targetReference>
        </connector>
    </assignments>

    <assignments>
        <name>Set_Contact_From_Email</name>
        <label>Set Contact From Email</label>
        <locationX>302</locationX>
        <locationY>258</locationY>
        <assignmentItems>
            <assignToReference>resolvedContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lookup_Contact_By_Email.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>safeCustomerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Event_Record</targetReference>
        </connector>
    </assignments>

    <assignments>
        <name>Set_Contact_From_CustomerEmail</name>
        <label>Set Contact From Customer Email</label>
        <locationX>550</locationX>
        <locationY>258</locationY>
        <assignmentItems>
            <assignToReference>resolvedContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lookup_Contact_By_CustomerEmail.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>safeCustomerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>customerEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Event_Record</targetReference>
        </connector>
    </assignments>

    <assignments>
        <name>Set_Contact_From_SessionEmail</name>
        <label>Set Contact From Session Email</label>
        <locationX>700</locationX>
        <locationY>258</locationY>
        <assignmentItems>
            <assignToReference>resolvedContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lookup_Contact_By_SessionEmail.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>safeCustomerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sessionId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Event_Record</targetReference>
        </connector>
    </assignments>

    <assignments>
        <name>Set_Fallback_Ids</name>
        <label>Set Fallback Ids</label>
        <locationX>850</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>safeCustomerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>agent-captured</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Event_Record</targetReference>
        </connector>
    </assignments>

    <assignments>
        <name>Set_Success</name>
        <label>Set Success</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>outputSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Event_Record</elementReference>
            </value>
        </assignmentItems>
    </assignments>

    <assignments>
        <name>Set_Error</name>
        <label>Set Error</label>
        <locationX>400</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>outputSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputError</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>

    <!-- ─── Decisions ───────────────────────────────────────── -->

    <!-- Multi-tier contact resolution:
         1. contactId starts with 003 → Salesforce Contact ID
         2. contactId contains @ → email in contactId field
         3. customerEmail contains @ → separate email input
         4. sessionId contains @ → session was initialized with email
         5. Default → fallback to 'agent-captured' -->

    <decisions>
        <name>Resolve_Contact</name>
        <label>Resolve Contact</label>
        <locationX>176</locationX>
        <locationY>80</locationY>
        <defaultConnector>
            <targetReference>Try_CustomerEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No contactId</defaultConnectorLabel>
        <rules>
            <name>Is_SF_Contact_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>contactId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Contact_From_Id</targetReference>
            </connector>
            <label>Is SF Contact Id</label>
        </rules>
        <rules>
            <name>Is_Email_In_ContactId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>contactId</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>@</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Contact_By_Email</targetReference>
            </connector>
            <label>Is Email in contactId</label>
        </rules>
    </decisions>

    <decisions>
        <name>Try_CustomerEmail</name>
        <label>Try Customer Email</label>
        <locationX>550</locationX>
        <locationY>80</locationY>
        <defaultConnector>
            <targetReference>Try_SessionEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No customerEmail</defaultConnectorLabel>
        <rules>
            <name>Has_CustomerEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>customerEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>customerEmail</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>@</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Contact_By_CustomerEmail</targetReference>
            </connector>
            <label>Has Customer Email</label>
        </rules>
    </decisions>

    <decisions>
        <name>Try_SessionEmail</name>
        <label>Try Session Email</label>
        <locationX>700</locationX>
        <locationY>80</locationY>
        <defaultConnector>
            <targetReference>Set_Fallback_Ids</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No session email</defaultConnectorLabel>
        <rules>
            <name>Session_Has_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sessionId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sessionId</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>@</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Contact_By_SessionEmail</targetReference>
            </connector>
            <label>Session Has Email</label>
        </rules>
    </decisions>

    <!-- ─── Record Creates ──────────────────────────────────── -->

    <recordCreates>
        <name>Create_Event_Record</name>
        <label>Create Event Record</label>
        <locationX>176</locationX>
        <locationY>358</locationY>
        <connector>
            <targetReference>Set_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Customer_Id__c</field>
            <value>
                <elementReference>safeCustomerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>resolvedContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Session_Id__c</field>
            <value>
                <elementReference>sessionId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Type__c</field>
            <value>
                <elementReference>eventType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>eventDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agent_Note__c</field>
            <value>
                <elementReference>agentNote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Metadata_JSON__c</field>
            <value>
                <elementReference>metadataJson</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Captured_At__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Meaningful_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>

    <!-- ─── Record Lookups ──────────────────────────────────── -->

    <recordLookups>
        <name>Lookup_Contact_By_Email</name>
        <label>Lookup Contact By Email</label>
        <locationX>302</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>Set_Contact_From_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>

    <recordLookups>
        <name>Lookup_Contact_By_CustomerEmail</name>
        <label>Lookup Contact By Customer Email</label>
        <locationX>550</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>Set_Contact_From_CustomerEmail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>customerEmail</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>

    <recordLookups>
        <name>Lookup_Contact_By_SessionEmail</name>
        <label>Lookup Contact By Session Email</label>
        <locationX>700</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>Set_Contact_From_SessionEmail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sessionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>

    <!-- ─── Variables ───────────────────────────────────────── -->

    <variables>
        <name>agentNote</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <description>Optional note from the agent about why this event matters</description>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <description>The Salesforce Contact ID (003...) for the customer. If unavailable, an email address is accepted and the flow will look up the Contact record automatically.</description>
    </variables>
    <variables>
        <name>customerEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <description>The customer's email address. Used to look up their Salesforce Contact record if contactId is not provided.</description>
    </variables>
    <variables>
        <name>eventDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <description>A brief description of the meaningful event</description>
    </variables>
    <variables>
        <name>eventType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <description>The category of event: Travel, Wedding, Maternity, Birthday, Anniversary, Relocation, Graduation, Career, Other</description>
    </variables>
    <variables>
        <name>metadataJson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <description>Optional JSON metadata about the event</description>
    </variables>
    <variables>
        <name>outputError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>outputRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>outputSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>resolvedContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <description>Resolved Salesforce Contact ID (from direct ID or email lookup)</description>
    </variables>
    <variables>
        <name>safeCustomerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <description>Customer ID with fallback — never null. Uses contactId when available, otherwise agent-captured.</description>
        <value>
            <stringValue>agent-captured</stringValue>
        </value>
    </variables>
    <variables>
        <name>sessionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <description>The customer's email address or session identifier for this conversation</description>
    </variables>
</Flow>
