salesforce/force-app/main/default/flows/Create_Chat_Summary.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <description>Creates or updates a Chat Summary record. Deduplicates by upserting: if a summary already exists for this contact today, it updates rather than creating a duplicate.</description>
    <interviewLabel>Create Chat Summary {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Chat Summary</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value><stringValue>LightningFlowBuilder</stringValue></value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Contact_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>

    <!-- All variables grouped together -->
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <description>The Salesforce Contact ID for the customer</description>
    </variables>
    <variables>
        <name>sessionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <description>The unique session identifier for this conversation</description>
    </variables>
    <variables>
        <name>summaryText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <description>The conversation summary text</description>
    </variables>
    <variables>
        <name>sentiment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <description>Overall conversation sentiment: positive, neutral, or negative</description>
    </variables>
    <variables>
        <name>topicsDiscussed</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <description>Semicolon-separated list of topics discussed in the conversation</description>
    </variables>
    <variables>
        <name>outputSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value><booleanValue>false</booleanValue></value>
    </variables>
    <variables>
        <name>outputRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>outputError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>existingRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Chat_Summary__c</objectType>
    </variables>

    <!-- All decisions grouped together -->
    <decisions>
        <name>Check_Contact_Id</name>
        <label>Check Contact Id</label>
        <locationX>176</locationX>
        <locationY>80</locationY>
        <defaultConnector>
            <targetReference>Set_Skipped</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Contact Id</defaultConnectorLabel>
        <rules>
            <name>Has_Contact_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue><booleanValue>false</booleanValue></rightValue>
            </conditions>
            <conditions>
                <leftValueReference>contactId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue><stringValue></stringValue></rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Existing_Summary</targetReference>
            </connector>
            <label>Has Contact Id</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Existing_Summary</name>
        <label>Has Existing Summary</label>
        <locationX>176</locationX>
        <locationY>238</locationY>
        <defaultConnector>
            <targetReference>Create_Summary_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Existing - Create New</defaultConnectorLabel>
        <rules>
            <name>Existing_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>existingRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue><booleanValue>false</booleanValue></rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Updated_Fields</targetReference>
            </connector>
            <label>Existing Found - Update</label>
        </rules>
    </decisions>

    <!-- Record lookup -->
    <recordLookups>
        <name>Find_Existing_Summary</name>
        <label>Find Existing Summary</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>Has_Existing_Summary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer_Id__c</field>
            <operator>EqualTo</operator>
            <value><elementReference>contactId</elementReference></value>
        </filters>
        <filters>
            <field>Session_Date__c</field>
            <operator>EqualTo</operator>
            <value><elementReference>$Flow.CurrentDate</elementReference></value>
        </filters>
        <object>Chat_Summary__c</object>
        <outputReference>existingRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <getFirstRecordOnly>true</getFirstRecordOnly>
    </recordLookups>

    <!-- All assignments grouped together -->
    <assignments>
        <name>Assign_Updated_Fields</name>
        <label>Assign Updated Fields</label>
        <locationX>50</locationX>
        <locationY>318</locationY>
        <connector>
            <targetReference>Update_Existing_Summary</targetReference>
        </connector>
        <assignmentItems>
            <assignToReference>existingRecord.Summary_Text__c</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>summaryText</elementReference></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>existingRecord.Sentiment__c</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>sentiment</elementReference></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>existingRecord.Topics_Discussed__c</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>topicsDiscussed</elementReference></value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Success_Update</name>
        <label>Set Success Update</label>
        <locationX>50</locationX>
        <locationY>450</locationY>
        <assignmentItems>
            <assignToReference>outputSuccess</assignToReference>
            <operator>Assign</operator>
            <value><booleanValue>true</booleanValue></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputRecordId</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>existingRecord.Id</elementReference></value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Success</name>
        <label>Set Success</label>
        <locationX>300</locationX>
        <locationY>450</locationY>
        <assignmentItems>
            <assignToReference>outputSuccess</assignToReference>
            <operator>Assign</operator>
            <value><booleanValue>true</booleanValue></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputRecordId</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>Create_Summary_Record</elementReference></value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Error</name>
        <label>Set Error</label>
        <locationX>500</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>outputSuccess</assignToReference>
            <operator>Assign</operator>
            <value><booleanValue>false</booleanValue></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputError</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>$Flow.FaultMessage</elementReference></value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Skipped</name>
        <label>Set Skipped</label>
        <locationX>400</locationX>
        <locationY>80</locationY>
        <assignmentItems>
            <assignToReference>outputSuccess</assignToReference>
            <operator>Assign</operator>
            <value><booleanValue>false</booleanValue></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputError</assignToReference>
            <operator>Assign</operator>
            <value><stringValue>Skipped: No contactId provided (anonymous user)</stringValue></value>
        </assignmentItems>
    </assignments>

    <!-- Record update -->
    <recordUpdates>
        <name>Update_Existing_Summary</name>
        <label>Update Existing Summary</label>
        <locationX>50</locationX>
        <locationY>418</locationY>
        <connector>
            <targetReference>Set_Success_Update</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error</targetReference>
        </faultConnector>
        <inputReference>existingRecord</inputReference>
    </recordUpdates>

    <!-- Record create -->
    <recordCreates>
        <name>Create_Summary_Record</name>
        <label>Create Summary Record</label>
        <locationX>300</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Set_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Customer_Id__c</field>
            <value><elementReference>contactId</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Session_Id__c</field>
            <value><elementReference>sessionId</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Summary_Text__c</field>
            <value><elementReference>summaryText</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Sentiment__c</field>
            <value><elementReference>sentiment</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Topics_Discussed__c</field>
            <value><elementReference>topicsDiscussed</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Session_Date__c</field>
            <value><elementReference>$Flow.CurrentDate</elementReference></value>
        </inputAssignments>
        <object>Chat_Summary__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
</Flow>
