salesforce/force-app/main/default/flows/Create_Meaningful_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <description>Creates a Meaningful Event record to capture life events, preferences, concerns, and intents discovered during conversation.</description>
    <interviewLabel>Create Meaningful Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Meaningful Event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value><stringValue>LightningFlowBuilder</stringValue></value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Contact_Id</targetReference>
        </connector>
    </start>

    <!-- Decision: Skip if no contactId (anonymous user) -->
    <decisions>
        <name>Check_Contact_Id</name>
        <label>Check Contact Id</label>
        <locationX>176</locationX>
        <locationY>80</locationY>
        <defaultConnector>
            <targetReference>Set_Skipped</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Contact Id</defaultConnectorLabel>
        <rules>
            <name>Has_Contact_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue><booleanValue>false</booleanValue></rightValue>
            </conditions>
            <conditions>
                <leftValueReference>contactId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue><stringValue></stringValue></rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Event_Record</targetReference>
            </connector>
            <label>Has Contact Id</label>
        </rules>
    </decisions>

    <status>Active</status>

    <!-- Input Variables -->
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <description>The Salesforce Contact ID for the customer</description>
    </variables>
    <variables>
        <name>sessionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <description>The unique session identifier for this conversation</description>
    </variables>
    <variables>
        <name>eventType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <description>The category of event: life-event, preference, concern, intent, milestone</description>
    </variables>
    <variables>
        <name>eventDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <description>A brief description of the meaningful event</description>
    </variables>
    <variables>
        <name>agentNote</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <description>Optional note from the agent about why this event matters</description>
    </variables>
    <variables>
        <name>metadataJson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <description>Optional JSON metadata about the event</description>
    </variables>

    <!-- Output Variables -->
    <variables>
        <name>outputSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value><booleanValue>false</booleanValue></value>
    </variables>
    <variables>
        <name>outputRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>outputError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>

    <!-- Create Record -->
    <recordCreates>
        <name>Create_Event_Record</name>
        <label>Create Event Record</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>Set_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Customer_Id__c</field>
            <value><elementReference>contactId</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Session_Id__c</field>
            <value><elementReference>sessionId</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Type__c</field>
            <value><elementReference>eventType</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value><elementReference>eventDescription</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Agent_Note__c</field>
            <value><elementReference>agentNote</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Metadata_JSON__c</field>
            <value><elementReference>metadataJson</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Captured_At__c</field>
            <value><elementReference>$Flow.CurrentDateTime</elementReference></value>
        </inputAssignments>
        <object>Meaningful_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>

    <!-- Success Assignment -->
    <assignments>
        <name>Set_Success</name>
        <label>Set Success</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>outputSuccess</assignToReference>
            <operator>Assign</operator>
            <value><booleanValue>true</booleanValue></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputRecordId</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>Create_Event_Record</elementReference></value>
        </assignmentItems>
    </assignments>

    <!-- Error Assignment -->
    <assignments>
        <name>Set_Error</name>
        <label>Set Error</label>
        <locationX>400</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>outputSuccess</assignToReference>
            <operator>Assign</operator>
            <value><booleanValue>false</booleanValue></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputError</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>$Flow.FaultMessage</elementReference></value>
        </assignmentItems>
    </assignments>

    <!-- Skipped Assignment (anonymous user) -->
    <assignments>
        <name>Set_Skipped</name>
        <label>Set Skipped</label>
        <locationX>400</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>outputSuccess</assignToReference>
            <operator>Assign</operator>
            <value><booleanValue>false</booleanValue></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputError</assignToReference>
            <operator>Assign</operator>
            <value><stringValue>Skipped: No contactId provided (anonymous user)</stringValue></value>
        </assignmentItems>
    </assignments>
</Flow>
